---
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

import "../style/Layout.css";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Landing - {title}</title>
  </head>
  <body>
    <!-- aqui va el contenido que voy a estar colocando de otras pag -->

    <main class="mx-auto container md:pt-10">
      <slot />
    </main>
    <Footer />
  </body>
</html>
